<!doctype html>
<html  dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'style/bootstrap/css/bootstrap.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'style/css/style.css' %}"/>
    <title>{% block title %}  البرنامج العلمي{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{STATIC_URL}}/static/style/imges/logo_ramadan3.png" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'style/bootstrap/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'style/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'style/bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>

{% block sidebar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"> البرنامج العلمي</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

     {% if 'member_id' in request.session %}
                {% if 'student' in request.session.user_type%}

                        {% if 'admin' in request.session %}
                        <li class="nav-item">
                              {% if path_admin %}
                            <a class="nav-link" href="/">الإنتقال إلى صفحتي</a>
                              {% else %}
                            <a class="nav-link" href="/students/">الإنتقال إلى صفحة الأعضاء</a>
                            {% endif %}

                        </li>
                        {% endif %}
                        <li class="nav-item active">
                            {% if path_admin %}
                             <a class="nav-link" href="/students/">الأعضاء<span class="sr-only">(current)</span></a>
                              {% else %}
                            <a class="nav-link" href="/">الرصد اليومي<span class="sr-only">(current)</span></a>
                            {% endif %}

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/{{path_admin}}report_tasks_days/">التقرير الأسبوعي</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/{{path_admin}}report_tasks_weeks/">التقرير الشهري</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/{{path_admin}}report_tasks_months/">التقرير السنوي</a>
                        </li>
                          {% if 'admin' in request.session %}
                        <li class="nav-item">

                            <a class="nav-link" href="/plan/">الخطه</a>

                        </li>
               {% if 'administrator' in request.session %}
                        <li class="nav-item">
                            <a class="nav-link" href="/administrator/report_tasks_months/">الإختبار</a>
                        </li>
            {% endif %}
                        {% endif %}
                {% endif %}
                {% if 'techer' in request.session.user_type %}

                    <li class="nav-item">
                        <a class="nav-link" href="/students/">الطلاب</a>
                    </li>
              <li class="nav-item">
                        <a class="nav-link" href="/report_day/tasks/">تقرير الطلاب</a>
                    </li>
                <li class="nav-item">
                        <a class="nav-link" href="/all_days/">الأيام</a>
                    </li>
                {% endif %}
            <li class="nav-item">
                <a class="btn btn-outline-success my-2 my-sm-0" href="/logout/">تسجيل الخروج</a>
            </li>

            {% endif %}


        </ul>
    </div>
</nav>
{% endblock %}
<br>
  {% block login %}
<div class="content">
    {% block content %}

    {% endblock %}
</div>
{% endblock %}


<footer class="footer">
      <div class="container">
          <span class="text-muted">عند مواجهتك أي مشكلة أو تريد الإستفسار تواصل معنا </span>
        <span class="text-muted"> : 0562060004</span>
          <span class="text-muted">محمد العمر </span>
      </div>
    </footer>

</body>
</html>