{% extends "layout.html" %}



{% block login %}
<div class="container">
    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <section class="login-form">
                <form action="" method="post" role="login">{% csrf_token %}

                     {% load static %}
                      <a class="navbar-brand" href="/">
                    <img src="{% static 'style\imges\logo_ramadan3.png' %}"
                         class="img-responsive" alt="" style="
            width: 91%;
            margin: auto;
            padding: 10px;
display: block;
"></a>
                    <br>
                    <input type="text" class="form-control input-lg" name="id_user" placeholder="اسم المستخدم"
                           required=""/>
                    <input type="password" class="form-control input-lg" name="password" placeholder="كلمة المرور"
                           required=""/>

                    <div class="erorr">{{erorr_user}}</div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="user_type" value="student"
                               class="custom-control-input" checked >
                        <label class="custom-control-label" for="customRadioInline1">عضو</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="user_type"
                               class="custom-control-input" value="techer"  >
                        <label class="custom-control-label" for="customRadioInline2">مدير</label>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">تسجيل الدخول</button>
                </form>

            </section>
        </div>
        <div class="col-md-4"></div>
    </div>

</div>


{% endblock %}