{% extends "layout.html" %}

{% block login %}
<div class="container">
    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <section class="login-form">
                <form action="" method="post">{% csrf_token %}
                    <div>{{prossing}}</div>
                    <button type="submit">إبداء التحديث</button>
                </form>

            </section>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}