{% extends "layout.html" %}

{% block login %}
<div class="container">
          <h1 >الموقع في حالة تحديث لبيانات الطلاب أنتظر حتى إنتهاء التحديث:</h1>

<h1>
                                <th scope="col">عدد الطلاب:</th>
        <th scope="col">{{ count }}</th>

        <div >تم تحديث الطالب:</div>
                <th scope="col">{{ n }}</th></h1>
        <div class="col-md-4"></div>
                                    <progress id="prossing" value="0" max="{{count}}">
</progress>
    </div>
 <script>
 document.onload=progress_value()

function progress_value() {
    var prossing=document.getElementById("prossing");
    var count={{ count }};
    var n = {{ n }};
    if (count != 0){
        prossing.value=(n).toString();

    }
}

   </script>
{% endblock %}