{% block content %}

{% if tracks_all %}

{% for key,latest_list in tracks_all.items  %}

<br/>

<div>
    <input type="button" value="طباعة" onclick="PrintElem(this)" />

<h1 class="title">
    <tr>
                    {% if students %}
                  <th scope="col">تقرير:</th>
             <th scope="col">{{ latest_list.0.student__student }}</th>
                          <th scope="col">    مسار:</th>
             <th scope="col">{{ latest_list.0.student__tracks__name }}</th>

            {% else %}
                  <th scope="col">تقرير مسار:</th>
             <th scope="col">{{ key }}</th>
            {% endif %}



    </tr>
</h1>
<table class="table">
    <thead>
    <tr>

        <th>#</th>
        <th scope="col">الفترة</th>
        <th scope="col"> المهام الطلوبة</th>
        <th scope="col">المنفذ</th>
        <th scope="col">عدد الأيام</th>
        <th scope="col">مجموع الحضور</th>
        <th scope="col">الإختبار</th>
        <th scope="col">الدرجة</th>
    </tr>
    </thead>
 {% for list in latest_list  %}

      {% if not list.total__sum %}
        {% if list.is_total %}
        <tbody class="total" style="background: lightgoldenrodyellow;">
    <td colspan="2" > {{ key }}</td>
    {% else %}
        <tbody>
    <td> {{ forloop.counter }}</td>
    <td> {{ list.months__name }}</td>
    {% endif %}
    <td> {{ list.total_all }}</td>
    <td> {{ list.total }}</td>
    <td> {{ list.count_present_all }}</td>
     <td> {{ list.count_present }}</td>
     <td> {{ list.test |floatformat:2  }}</td>
     <td> % {{ list.degree |floatformat:2 }}</td>
    </tbody>
    {% else %}
        <tbody class="total" style="background: lightgoldenrodyellow;">
    <td colspan="2" > المجموع الكلي </td>
    <td> {{ list.total_all__sum }}</td>
    <td> {{ list.total__sum }}</td>
    <td> {{ list.count_present_all__sum }} </td>
     <td> {{ list.count_present__sum }}</td>
     <td> {{ list.test__avg |floatformat:2 }}</td>
     <td> % {{ list.degree__avg |floatformat:2 }}</td>
    </tbody>
    {% endif %}

    {% endfor %}
</table>
    </div>
{% endfor %}

   <script type="text/javascript">
        function PrintElem(self) {
            Popup(self.parentElement.innerHTML);
        }

        function Popup(data) {
            var myWindow = window.open('', 'my div', 'height=400,width=600');
            myWindow.document.write('<html dir="rtl"><head><title>my div</title>');

            /*optional stylesheet*/ //myWindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
             {% load static %}

            myWindow.document.write('<link rel="stylesheet" href="{% static 'style/bootstrap/css/bootstrap.css' %}">');
            myWindow.document.write('<link rel="stylesheet" href="{% static 'style/css/style-v1.0.0.css' %}">');
            myWindow.document.write('<style media="print"> body {background-color:#FFFFFF;}  input {display: none;} </style>');

            myWindow.document.write('</head><body >');
            myWindow.document.write(data);
            myWindow.document.write('</body></html>');
            myWindow.document.close(); // necessary for IE >= 10

            myWindow.onload=function(){ // necessary if the div contain images

                myWindow.focus(); // necessary for IE >= 10
                myWindow.print();
                myWindow.close();
            };
        }
    </script>

{% else %}
<p>لا يوجد بيانات </p>
{% endif %}

{% endblock %}
