{% extends "layout.html" %}

{% block content %}
<h1 class="title">
    <li style="list-style: none;">
        <th scope="col">المشرف:</th>
        <th scope="col">{{ student }}</th>
        <th scope="col">مسار:</th>
        <th scope="col">{{ student.tracks }}</th>
            </li>
          <li style="list-style: none;">
        <th scope="col">الخطه:</th>
    </li>
</h1>

{% if latest_list %}
<button onclick="donload('/donload_intent/')" >تحميل الأهداف</button>
<button onclick="donload('/donload_Plan/')" >تحميل الخطه</button>
 <form action="/upload_Plan/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="Plan">
    <input type="submit" value="رفع الخطه">
</form>


<table class="table">
    <thead>
    <tr>

        <th>#</th>
        <th scope="col">اليوم</th>
         <th scope="col">التاريخ</th>
         <th scope="col">الشهر</th>
        <th scope="col">المهمة 1</th>
         <th scope="col">المهمة 2</th>
         <th scope="col">المهمة 3</th>
    </tr>
    </thead>
    {% for list in latest_list %}
    <tbody>
    <td> {{ forloop.counter }}</td>
    <td> {{ list.day.name }}</td>
     <td> {{ list.day.date_hijri }}</td>
    <td> {{ list.day.weeks.months.name  }}</td>
    <td> {{ list.intent.task1 }}</td>
    <td> {{ list.intent.task2 }}</td>
    <td> {{ list.intent.task3 }}</td>

    </tbody>
    {% endfor %}
</table>
{% else %}
<p>لا يوجد بيانات </p>
{% endif %}
{% endblock %}