{% extends "layout.html" %}

{% block content %}
<h1 class="title">
    <tr>
         {% if administrator %}
        <th scope="col">تقرير البرنامج</th>
         {% else %}
                <th scope="col">تقرير مسار:</th>
        <th scope="col">{{ student.tracks }}</th>
         {% endif %}
    </tr>
</h1>

{% if latest_list %}
<table class="table">
    <thead>
    <tr>

        <th>#</th>
        <th scope="col">الشهر</th>
        <th scope="col"> المهام الطلوبة</th>
        <th scope="col">المنفذ</th>
        <th scope="col">الحضور</th>
        <th scope="col">الإختبار</th>
        <th scope="col">الدرجة</th>
        {% if 'techer' in request.session.user_type%}
        <th scope="col">تحرير</th>
        {% endif %}

    </tr>
    </thead>
 {% for key, list in latest_list.items  %}

        {% if list.is_total %}
        <tbody class="total" style="background: lightgoldenrodyellow;">
    <td colspan="2" > {{ key }}</td>
    {% else %}
        <tbody>
    <td> {{ forloop.counter }}</td>
    <td> {{ key }}</td>
    {% endif %}


    <td> {{ list.total_all }}</td>
    <td> {{ list.total }}</td>
     <td> {{ list.count_present }}</td>
     <td> {{ list.test }}</td>
     <td> % {{ list.degree |floatformat:2 }}</td>
    {% if 'techer' in request.session.user_type%}
    <td><a href="/student/{{ list.reports_all_days.id }}/tasks/{{ list.student.id }}">تحرير</a></td>
    {% endif %}
    </tbody>
    {% endfor %}
</table>
{% else %}
<p>لا يوجد بيانات </p>
{% endif %}
{% endblock %}