{% extends "layout.html" %}

{% block content %}
<h1 class="title">
    <tr>
         {% if administrator %}
        <th scope="col">تقرير البرنامج</th>
         {% else %}
                <th scope="col">تقرير مسار:</th>
        <th scope="col">{{ student.tracks }}</th>
         {% endif %}
    </tr>
</h1>

{% if latest_list %}
<table class="table">
    <thead>
    <tr>

        <th>#</th>
        <th scope="col">الشهر</th>
        <th scope="col"> المهام الطلوبة</th>
        <th scope="col">المنفذ</th>
        <th scope="col">عدد الأيام</th>
        <th scope="col">مجموع الحضور</th>
        <th scope="col">الإختبار</th>
        <th scope="col">الدرجة</th>
    </tr>
    </thead>
 {% for  list in latest_list  %}

        {% if list.is_total %}
        <tbody class="total" style="background: lightgoldenrodyellow;">
    <td colspan="2" > {{ key }}</td>
    {% else %}
        <tbody>
    <td> {{ forloop.counter }}</td>
    <td> {{ list.months__name }}</td>
    {% endif %}
    <td> {{ list.total_all }}</td>
    <td> {{ list.total }}</td>
    <td> {{ list.count_present_all }}</td>
     <td> {{ list.count_present }}</td>
     <td> {{ list.test |floatformat:2  }}</td>
     <td> % {{ list.degree |floatformat:2 }}</td>
    </tbody>
    {% endfor %}

            {% if total %}
        <tbody class="total" style="background: lightgoldenrodyellow;">
    <td colspan="2" > المجموع الكلي </td>
    <td> {{ total.total_all__sum }}</td>
    <td> {{ total.total__sum }}</td>
    <td> {{ total.count_present_all__sum }} </td>
     <td> {{ total.count_present__sum }}</td>
     <td> {{ total.test__avg |floatformat:2 }}</td>
     <td> % {{ total.degree__avg |floatformat:2 }}</td>
    </tbody>
    {% endif %}

</table>
{% else %}
<p>لا يوجد بيانات </p>
{% endif %}
{% if administrator %}
{% include "/administrator/report_tasks_year_tracks.html" %}
{% endif %}

{% endblock %}