{% extends "layout.html" %}

{% block content %}
<h1 class="title">
    <li style="list-style: none;">
        <th scope="col">المشرف:</th>
        <th scope="col">{{ student }}</th>
        <th scope="col">مسار:</th>
        <th scope="col">{{ student.tracks }}</th>
            </li>
          <li style="list-style: none;">
        <th scope="col">تقرير الأسبوع:</th>
        <th scope="col">{{ week }}</th>

    </li>
</h1>

{% if latest_list %}
<table class="table">
    <thead>
    <tr>

        <th>#</th>
        <th scope="col">الأعضاء</th>
         <th scope="col"> المهام الطلوبة</th>
        <th scope="col">المنفذ</th>
        <th scope="col">الحضور</th>
    </tr>
    </thead>
    {% for list in latest_list %}
    <tbody>
    <td> {{ forloop.counter }}</td>
    <td> {{ list.student }}</td>
    <td> {{ list.total_all }}</td>
    <td> {{ list.total }}</td>
    <td>
        <div class= "{{ list.chpresent }}" name="{{ list.id }}" onclick="send_to(this)"></div> </td>
    </tbody>
    <script>
function send_to(self) {

var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        if (this.responseText=="True"){
        self.className="checkboxtrue"
        }else{
        self.className="checkboxfalse"
        }
    }
  };
  xhttp.open("POST", "/present/", true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("csrfmiddlewaretoken={{ csrf_token }}"+"&present_id="+self.attributes["name"].value);

}
</script>
    {% endfor %}
</table>
{% else %}
<p>لا يوجد بيانات </p>
{% endif %}
{% endblock %}