{% extends "layout.html" %}

{% block content %}
<h1 class="title">
    <tr>
        <th scope="col">العضو:</th>
        <th scope="col">{{ student }}</th>
        <th scope="col">مسار:</th>
        <th scope="col">{{ student.tracks }}</th>
    </tr>
</h1>
{% if latest_list %}
<table class="table">
  <thead>
    <tr>

        <th>#</th>
      <th scope="col">اليوم</th>
        <th scope="col"> المهمة 1</th>
         <th scope="col"> المهمة 2</th>
         <th scope="col">المهمة 3</th>
        <th scope="col">التحرير </th>


    </tr>
  </thead>
        {% for list in latest_list %}
        <tbody>
        <td> {{ forloop.counter }}</td>
        <td> {{ list.day.name }}</a></td>
        <td>
<div class= {% if list.task1 %} "checkboxtrue"{% else %}"checkboxfalse"{% endif %}></div>
        </td>
         <td> <div class= {% if list.task2 %} "checkboxtrue"{% else %}"checkboxfalse"{% endif %}></div></td>
        <td> <div class= {% if list.task3 %} "checkboxtrue"{% else %}"checkboxfalse"{% endif %}></div></td>
        <td> <a href="/student/{{ list.student.id }}/tasks_day/{{ list.day.id }}">تحرير</a></td>

  </tbody>
        {% endfor %}
</table>
    {% else %}
        <p>لا يوجد بيانات </p>
    {% endif %}
{% endblock %}