{% extends "layout.html" %}

{% block content %}
<h1 class="title">الطالب:  {{ student  }} </h1>


{% if latest_list %}
<table class="table">
  <thead>
    <tr>

        <th>#</th>
      <th scope="col">اليوم</th>
        <th scope="col"> المهمة 1</th>
         <th scope="col"> المهمة 2</th>
         <th scope="col">المهمة 3</th>
        <th scope="col">التحرير </th>


    </tr>
  </thead>
        {% for list in latest_list %}
        <tbody>
        <td> {{ forloop.counter }}</td>
        <td> {{ list.day.name }}</a></td>
        <td> {{ list.task1  }}</td>
         <td> {{ list.task2    }}</td>
        <td> {{ list.task3 }}</td>
        <td> <a href="/student/{{ list.student.id }}/tasks_day/{{ list.day.id }}">تحرير</a></td>

  </tbody>
        {% endfor %}
</table>
    {% else %}
        <p>لا يوجد بيانات </p>
    {% endif %}
{% endblock %}